ion-content{
    --overflow: hidden;
}

.botao{
    width: 70%; 
    background-color: #734458;
;
    color: white;
}


#wave {
    position: relative;
    height: 225px;
    width: 600px;
    background: #e0efe3;
  }
  #wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 389px;
    height: 80px;
    background-color: #734458;
    right: -5px;
    top: 189px;
  }
  #wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 250px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 180px;
  }